{% extends "layout.html" %}
{% block body %}
  <div>
    <h1>Linear Regression</h1>
    <p>
      The goal here is to develop a model to predict whether a user will
      click on a advertisement. This exercise is part of Jose Portilla's
      <a href="https://www.udemy.com/python-for-data-science-and-machine-learning-bootcamp/">
      machine learning course</a>.
    </p>

    <h3>So, what's the data look like?</h3>
    <code class="snippet">
      ad_df = pd.read_csv('./data/advertising.csv')<br />
      ad_df.head()
    </code>
    {{ df.head().to_html() | safe }}

    <code class="snippet">
      ad_df.describe()
    </code>
    {{ df.describe().to_html() | safe }}

    <h3>What's the age distribution of the users?</h3>
    <code class="snippet">
      ad_df['Age'].hist(bins=30)
    </code>
    <img src="{{ url_for('static', filename='logistic/age-dist.png') }}">

    <h3>What's the relationship between age and income?</h3>
    <code class="snippet">
      sns.jointplot(x='Age', y='Area Income', data=ad_df)
    </code>
    <img src="{{ url_for('static', filename='logistic/age-income-joint.png') }}">

    <h3>What's the relationship between time spent on the site and age?</h3>
    <code class="snippet">
      sns.jointplot(x='Age', y='Daily Time Spent on Site', data=ad_df, kind='kde')
    </code>
    <img src="{{ url_for('static', filename='logistic/age-time-on-site-joint.png') }}">

    <h3>What other relationships exist in the data?</h3>
    <code class="snippet">
      sns.pairplot(ad_df, hue='Clicked on Ad')
    </code>
    <img width=100% src="{{ url_for('static', filename='logistic/pairplot.png') }}">

    <h3>Let's build the model</h3>
    <code class="snippet">
      from sklearn.cross_validation import train_test_split<br/>
      X = ad_df[['Daily Time Spent on Site', 'Age', 'Area Income', 'Daily Internet Usage', 'Male']]</br>
      y = ad_df['Clicked on Ad']<br/>
      X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)
    </code>

    <h3>Let's train and fit a logistic regression model</h3>
    <code class="snippet">
      from sklearn.linearmodel import LogisticRegression<br/>
      logmodel = LogisticRegression()<br/>
      logmodel.fit(X_train, y_train)
    </code>

    <h3>Use the model to make predictions</h3>
    <code class="snippet">
      predictions = logmodel.predict(X_test)
    </code>

    <h3>How'd we do?</h3>
    <code class="snippet">
      from sklearn.metrics import classification_report, confusion_matrix<br/><br/>

      # You can use a classification report to view accuracy data:<br/>
      # print classification_report(y_test, predictions)<br/><br/>

      # However, we'll just use a confusion matrix for the tl;dr:<br/>
      print confusion_matrix(y_test, predictions)<br/>
      #=> {{ c_matrix }}
    </code>
    <p>Not bad! Only 8 false positives and 15 false negatives were predicted.</p>
  </div>
{% endblock %}
