{% extends "layout.html" %}
{% block body %}
  <div>
    <h2>Titanic</h2>

    <div>
      <p>The dataset lives in <code>/data</code>, so we'll import it with pandas:</p>
      <code class="snippet">titanic_df = pd.read_csv('./data/titanic-training-set.csv')</code>
      <p>Then display a preview of the data with:</p>
      <code class="snippet">titanic_df.head()</code>
      <!-- We drop the person column here, because we pretend to create it later -->
      {{ df.drop('person', axis=1).head().to_html() | safe }}
    </div>

    <div>
      <h3>Who were the passengers?</h3>
      <p>
        We'll use matplotlib and seaborn to shed some light on who was aboard the Titanic.
        First, what was the gender breakdown?
      </p>
      <code class="snippet">
        import seaborn as sns<br />
        sns.factorplot('Sex', data=titanic_df, kind='count')
      </code>
      <img src="{{ url_for('static', filename='titanic/gender.png') }}" height="300">

      <p>
        There were three classes of passengers aboard. How were the genders distributed across them?
      </p>
      <code class="snippet">
        sns.factorplot('Pclass', data=titanic_df, hue='Sex', kind='count', legend_out=False)
      </code>
      <img src="{{ url_for('static', filename='titanic/class.png') }}" height="300">

      <p>
        In order to visualize how many children were on board, we'll add another column to identify
        the passenger as male, female or child, with children being anyone under the age of 16.
      </p>
      <code class="snippet">
        def identify_children(passenger):<br />
        &nbsp;&nbsp;age,sex = passenger<br />
        &nbsp;&nbsp;return 'child' if age < 16 else sex
        <br /><br />
        titanic_df['person'] = titanic_df[['Age', 'Sex']].apply(identify_children, axis=1)
      </code>
      <p>To view the changes, we can display the first ten rows:</p>
      <code class="snippet">titanic_df[1:10]</code>
      {{ df[1:10].to_html() | safe }}
      <p>Again, the same factorplot with the <code>hue</code> set to <code>person</code>:</p>
      <img src="{{ url_for('static', filename='titanic/class-with-child.png') }}" height="300">

      <p>Let's take a look at the age distribution of each group:</p>
      <code class="snippet">
        fig = sns.FacetGrid(titanic_df, hue="person", aspect=4)<br />
        fig.map(sns.kdeplot, 'Age', shade=True)<br />
        oldest = titanic_df['Age'].max()<br />
        fig.set(xlim=(0, oldest))<br />
        fig.add_legend()
      </code>
      <img src="{{ url_for('static', filename='titanic/age-dist-gender.png') }}" width="100%">

      <p>Similarly, we can view the age distribution by passenger class:</p>
      <img src="{{ url_for('static', filename='titanic/age-dist-class.png') }}" width="100%">

      <p>
        We've got data on the deck that each passenger stayed on, so let's visualize that.
        Empty cabin values will have to get discarded, then we'll want to create a new DataFrame
        with just the letter value of the cabin.
      </p>
      <code class="snippet">
        ...<br />
        from pandas import DataFrame<br />
        ...<br />
        <br />
        deck = titanic_df['Cabin'].dropna()<br />
        levels = []<br />
        for level in deck:<br />
        &nbsp;&nbsp;levels.append(level[0])<br />
        <br />
        cabin_df = DataFrame(levels)<br />
        cabin_df.columns = ['Cabin']<br />
        sns.factorplot('Cabin', data=cabin_df, kind='count', palette='winter_d')
      </code>
      <img src="{{ url_for('static', filename='titanic/deck-dist.png') }}" height="300">

      <p>
        How many of the travelers had family on board?
        If the Parch (parents/children) and SibSp (siblings/spouse) columns are zero, then
        the traveler was alone:
      </p>
      <code class="snippet">
        titanic_df['Alone'] = titanic_df.Parch + titanic_df.SibSp<br />
        titanic_df['Alone'].loc[titanic_df['Alone'] > 0] = 'Family'<br />
        titanic_df['Alone'].loc[titanic_df['Alone'] == 0] = 'Alone'<br />
        sns.factorplot('Alone', data=titanic_df, kind='count')
      </code>
      <img src="{{ url_for('static', filename='titanic/family.png') }}" height="300">
    </div>
  </div>
{% endblock %}
